.container {
  opacity: 0;
  transition: all 500ms ease-in;
}

.main {
  width: 100%;
  background-color: #1e272e;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffa801;
  font-family: "Inter", sans-serif;
  position: relative;
}

.show {
  opacity: 1;
}
